/* Ensure this is in your saahi3.css file */

body {
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
    background-size: cover;
    color: aliceblue;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(children-2876359_1280.jpg);
    background-size: cover;
    background-position: center;
}

.menu {
    background: linear-gradient(to bottom, rgba(112, 63, 2, 0.9), transparent);
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 100px;
}

#logo {
    margin-left: 20px;
    height: 75px;
    width: 75px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.466), 0 1px 5px rgba(0, 0, 0, 0.3);
}

footer {
    background-color: #3b2200;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer img{
    width: 20px;
    height: auto;
}

footer a{
    text-decoration: none;
}